# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

cmd/bioject/bioject
cmd/bioject/config.yml
cmd/bioject/routes.db
cmd/biojecter/biojecter
database/test.db
